{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "global-strict": 0
  },
  "env" : {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ]
}