{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "rules": {
    "semi": 2,
    "no-underscore-dangle": 0
  },
  "env" : {
    "browser": true,
    "mocha": true
  }
}